[Unit]
Description=Notube

[Service]
WorkingDirectory=/srv/notube
ExecStart=/usr/bin/bundle exec rackup
User=notube

Restart=always
Environment=RACK_ENV=production

[Install]
WantedBy=multi-user.target
