/*******************************************************************************
 * Variables
 ******************************************************************************/

:root {
  --color-highlight: teal;
  --color-background-grey: whitesmoke;

  --padding-header: 1em;
}


/*******************************************************************************
 * Global
 ******************************************************************************/

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  color: var(--color-highlight);
}


/*******************************************************************************
 * Layout and Structure
 ******************************************************************************/

.app-header {
  padding: var(--padding-header);
  background-color: var(--color-highlight);
}
  .app-header h1 {
    margin: 0;
    font-size: 1em;
  }
  .app-header a {
    text-decoration: none;
    color: white;
  }

.app-wrapper {
  display: flex;
  align-items: stretch;
}

.app-sidebar {
  width: 20rem;
  background-color: var(--color-background-grey);
}
  .app-sidebar h2 {
    margin: 1rem 0;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
  }
  .app-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .app-sidebar img {
    border-radius: 100%;
  }
  .app-sidebar a {
    display: flex;
    padding: 0.5em;
    text-decoration: none;
  }
    .app-sidebar a:hover {
      background-color: gainsboro;
    }
    .app-sidebar a img {
      margin-right: 0.25em;
    }

.app-content {
  width: 100%;
  padding: 1em;
}
  .app-content h2 {
    margin: 0 0 1rem 0;
  }


/*******************************************************************************
 * Video Grid
 ******************************************************************************/

.video-cards {
  display: flex;
  flex-direction: space-between;
  flex-wrap: wrap;
}
.video-card {
  position: relative;
  box-sizing: border-box;
  padding: 0.5em;
  max-width: 20%;
}
.video-card.fresh .fresh-dot {
  display: block;
}
  .video-card img {
    width: 100%;
    height: auto;
  }
  .video-card-channel a {
    font-size: 0.8em;
    color: inherit;
    text-decoration: none;
  }

.fresh-dot {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 1em;
    background: orange;
    border-radius: 100%;
  }


/*******************************************************************************
 * Video Player Page
 ******************************************************************************/

.channel-header {
  padding-top: 6rem;
  margin: 1rem 0;
}
  .channel-header h2 {
    display: inline-block;
    margin: 0;
    padding: 0.5rem;
    background: white;
  }
.video .video-channel a {
    display: flex;
    align-items: center;
  }
.video .video-channel img {
  margin-right: 0.25rem;
}

.video-description {
  padding: 2rem 6rem;
  white-space: pre-wrap;
  line-height: 1.5em;
}

.video-download {
  margin: 2rem 0;
  padding: 1rem;
  background: palegoldenrod;
}
