---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=bonkbonkbonkasdfasdf&key=<YOUTUBE_API_KEY>&part=snippet%2CbrandingSettings%2CcontentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - '"XI7nbFXulYBIpL0ayR_gDh3eu1k/fuSRoUc6R_qYNmJ5jD-Izxd1Nsc"'
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"XI7nbFXulYBIpL0ayR_gDh3eu1k/fuSRoUc6R_qYNmJ5jD-Izxd1Nsc\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Sun, 14 Oct 2018 13:46:55 GMT
recorded_with: VCR 4.0.0
