<header class="channel-header" style="background-image: url('/data/<%= @channel.external_id %>.banner.jpg'); background-position: cover;">
  <h2><%= @channel.name %></h2>
</header>

<div class="video-cards">
  <% @videos.each do |v| %>
    <%= erb :video_card, locals: { video: v } %>
  <% end %>
</div>

<div class="channel-pagination">
  <% if @next_offset %>
  <a href="?before=<%= @next_offset %>">Next Page</a>
  <% end %>
</div>
