<header class="video-header video-header-category">
  <h2>Next Up</h2>
  <div class="subtitle">The most recent unwatched videos from your subscriptions.</div>
</header>
<div class="video-cards">
  <% @videos.each do |v| %>
    <%= erb :video_card, locals: { video: v } %>
  <% end %>
</div>
